.form-container select {
	background-color: white;
}

.share-form .form-container .form-fields {
/* 	width: 1000px; */
}	

.form-container input {
	width: auto;
}

.form-container input[type="submit"], .form-container input[type="button"]{
    font-weight: 600;
    height: 40px;
    width: 100px !important;
}
.form-container .form-buttons {
    text-align: center;
}
.form-fields .yui-u {
	text-align: left !important;
}

.form-container .viewmode-field .current-values div {
	display: block;
}

.skpi-row {

	clear: both;
}

.skpi-cell {
	width: 50%;
	float: left;
}

.skpi-first- {

}
.form-field input[type="text"] {
    width: 80% !important;
}
input[type="text"].date-entry  {
    width: 74% !important;
}
input[name="prop_skpi_province"].date-entry  {
    width: 20% !important;
}


.form-container .form-fields {
    padding-left: 5px;
}

.skpi-block {
	overflow: auto;
}
.file-upload .yui-push-button{
font-weight:600;
}

.file-upload  .yui-button button{
	/*background-image: url("../images/email_2.png");
	background-repeat:no-repeat;
	background-position: right top;*/
	border:none;
min-height: 4em;
padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	background-color:#2daebf;
}

.file-upload  .yui-button button:hover{
background-color:#007D9A;
}
.file-upload{
	position:relative;
}

.hour{
font-weight:600 !important;
}
.web-preview.real{
	height:600px !important;
}
.sticky-wrapper strong {
    color: green;
}
