.search .itemname a {
    color: red !important;
    font-weight: bold !important;
}

.search .itemname a span.meta {
	 color: #333333;
	font-size: 70%;
	font-weight: normal !important;
}

a.print-protocol {
	background-image:url(/share/res/components/images/rubberstampdownarrow-48.png);
    background-position: 4px 1px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    min-height: 48px;
    padding: 2px 0 2px 48px;
}
a.print-protocol:hover {
	border: 1px solid #CCCCCC;

	}
	
span.protocol-incoming {
	background-image:url(/share/res/components/images/protocol-incoming.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width:24px;
}

span.protocol-exit {
	background-image:url(/share/res/components/images/protocol-exit.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width:24px;
}

span.printProtocol {
	vertical-align:top;
    display: inline-block;
    width:20%;
}
div.row-search-outcoming{
	background-color:#DFF7DA;
}
#ajax-loader {
	background-image:url(/share/res/components/images/ajax-loader.gif);
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width:32px;
	visibility:hidden;
}
